/*css-reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: sans-serif;
}

img{
    width: 100%;
    display: block;
}
/*layout*/
.container{
    max-width: 900px;
    margin: 0 auto;
}

/*color*/

/*bg*/

/*utilities*/

/* carousel */
#carousel{
    height: 500px;
    margin-top: 100px;
}

#gallery{
    height:100%
}

#carousel img{
    display: none;
    height: 100%;
}

#carousel img.active{
    display: block;
}


